{% load staticfiles %}


<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>



    <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
</html>